<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Kaikki palautteet</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h2>Kaikki palautteet</h2>
    <ul>
      <% feedback.forEach(palaute => { %>
      <li>
        <strong><%= palaute.nimi %></strong> - <%= palaute.email %><br />
        "<%= palaute.viesti %>"
        <a href="/palaute/<%= palaute.id %>">Näytä</a>
      </li>
      <% }); %>
    </ul>
    <a href="/">Takaisin lomakkeelle</a>
  </body>
</html>
