<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Palaute</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h2>Palaute</h2>
    <p><strong>Nimi:</strong> <%= palaute.nimi %></p>
    <p><strong>Email:</strong> <%= palaute.email %></p>
    <p><strong>Viesti:</strong> <%= palaute.viesti %></p>

    <a href="/palaute">Takaisin</a>
  </body>
</html>
